<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.globaltester.testrunner.ui.commands.CreateAndRunTestCampaignCommandHandler"
            id="org.globaltester.testrunner.ui.commands.CreateAndRunTestCampaignCommandHandler"
            name="Create and run TestCampaign">
      </command>
      <command
            defaultHandler="org.globaltester.testrunner.ui.commands.RunTestCommandHandler"
            id="org.globaltester.testrunner.ui.commands.RunTestCommand"
            name="Run TestCampaign">
         <commandParameter
               id="org.globaltester.testrunner.ui.SelectSampleConfigParameter"
               name="Select SampleConfig"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.globaltester.testrunner.ui.commands.CreateTestCampaignCommandHandler"
            id="org.globaltester.testrunner.ui.commands.CreateTestCampaignCommand"
            name="Create TestCampaign">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                  id="org.globaltester.maintoolbar"
                  label="GlobalTester Toolbar">
               <command
                     commandId="org.globaltester.testrunner.ui.commands.RunTestCommand"
                     icon="icons/execute.png"
                     id="org.globaltester.testrunner.ui.RunDropDown"
                     label="Run Test"
                     style="pulldown"
                     tooltip="Execute tests">
               </command>
                 <command
                       commandId="org.globaltester.testrunner.ui.commands.CreateTestCampaignCommand"
                       icon="icons/testcampaign.png"
                       id="org.globaltester.testrunner.ui.CampaignDropDown"
                       label="Create TestCampaign"
                       style="pulldown"
                       tooltip="Create a new TestCampaign from selection and open it">
                 </command>
            </toolbar>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:org.globaltester.testrunner.ui.RunDropDown">
              <command
                    commandId="org.globaltester.testrunner.ui.commands.RunTestCommand"
                    icon="icons/execute.png"
                    label="Run Test"
                    style="push"
                    tooltip="Execute tests">
              </command>
              <command
                    commandId="org.globaltester.testrunner.ui.commands.RunTestCommand"
                    icon="icons/execute.png"
                    id="org.globaltester.testrunner.ui.commands.RunTestCommand.withSelection"
                    label="Run tests with configuration selection"
                    style="push"
                    tooltip="Execute tests with selected configuration">
                 <parameter
                       name="org.globaltester.testrunner.ui.SelectSampleConfigParameter"
                       value="true">
                 </parameter>
                 </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:org.globaltester.testrunner.ui.CampaignDropDown">
           <command
                 commandId="org.globaltester.testrunner.ui.commands.CreateTestCampaignCommand"
                 icon="icons/testcampaign.png"
                 label="Create TestCampaign"
                 style="push"
                 tooltip="Create a new TestCampaign from selection and open it">
           </command>
           <command
                 commandId="org.globaltester.testrunner.ui.commands.CreateAndRunTestCampaignCommandHandler"
                 icon="icons/execute.png"
                 label="Create TestCampaign and execute it"
                 style="push"
                 tooltip="Create a new TestCampaign from selection and execute it">
           </command>
        </menuContribution>
              <menuContribution
            locationURI="popup:org.globaltester.base.ui.views.GlobalTesterNavigator.PopupMenu?after=group.edit">
                 <command
                       commandId="org.globaltester.testrunner.ui.commands.RunTestCommand"
                       icon="icons/execute.png"
                       label="Run Test"
                       style="push"
                       tooltip="Execute tests">
                 </command>
                 <command
                       commandId="org.globaltester.testrunner.ui.commands.CreateTestCampaignCommand"
                       icon="icons/testcampaign.png"
                       label="Create TestCampaign"
                       style="push"
                       tooltip="Create a new TestCampaign from selection and open it">
                 </command>
      </menuContribution>
    </extension>

   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.globaltester.testrunner.ui.editor.TestCampaignEditor"
            icon="icons/testcampaign.png"
            id="org.globaltester.testrunner.ui.testcampaigneditor"
            matchingStrategy="org.globaltester.testrunner.ui.editor.TestCampaignEditorMatchingStrategy"
            name="GT TestCampaign Editor">
         <contentTypeBinding
               contentTypeId="org.globaltester.testrunner.contenttypes.TestCampaign">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr_testcampaign.png"
            id="org.globaltester.testrunner.ui.image1"
            natureId="org.globaltester.testrunner.gtTestCampaignNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.globaltester.preferences.GlobalTesterPreferencePage"
            class="org.globaltester.testrunner.ui.preferences.GlobalTesterPreferencePageTestrunner"
            id="org.globaltester.testrunner.ui.preferences.GlobalTesterPreferencePageTestrunner"
            name="TestRunner">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.globaltester.preferences.GlobalTesterPreferencePage"
            class="org.globaltester.testrunner.ui.preferences.ReportingPreferencePage"
            id="org.globaltester.testrunner.ui.preferences.ReportingPreferencePage"
            name="Reporting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.globaltester.testrunner.ui.preferences.PreferenceInitializer">
      </initializer>
  </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Result View"
            icon="icons/result.png"
            category="org.globaltester.base.ui.views.category"
            class="org.globaltester.testrunner.ui.views.ResultView"
            id="org.globaltester.testrunner.ui.views.ResultView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.globaltester.base.ui.perspective.GlobalTesterPerspective">
         <view
               id="org.globaltester.testrunner.ui.views.ResultView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
