<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globaltester.testrunner.gtTestCampaignNature"
         name="GT TestCampaign Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.globaltester.testrunner.GtTestCampaignNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.globaltester.testrunner.contenttypes.TestCampaign"
            name="GlobalTester TestCampaign"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="TestCampaign">
            </parameter>
         </describer>
      </content-type>
   </extension>
</plugin>
