<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globaltester.testrunner.gtTestCampaignNature"
         name="GT TestCampaign Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.globaltester.testrunner.GtTestCampaignNature">
         </run>
      </runtime>
   </extension>
</plugin>
