<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.globaltester.testrunner.ui.commands.RunTestCommandHandler"
            id="org.globaltester.testrunner.ui.commands.RunTestCommand"
            name="Run Test">
      </command>
      <command
            defaultHandler="org.globaltester.testrunner.ui.commands.CreateExecutionProjectCommandHandler"
            id="org.globaltester.testrunner.ui.commands.CreateExecutionProjectCommand"
            name="Create Execution Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.globaltester.core.ui.views.GlobalTesterNavigator.PopupMenu?after=group.edit">
         <command
               commandId="org.globaltester.testrunner.ui.commands.RunTestCommand"
               label="Run Test"
               style="push"
               tooltip="Some tooltip text">
         </command>
         <command
               commandId="org.globaltester.testrunner.ui.commands.CreateExecutionProjectCommand"
               label="Create Execution Project"
               style="push"
               tooltip="Some tooltip text">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.globaltester.testrunner.ui.editor.TestCampaignEditor"
            default="false"
            id="org.globaltester.testrunner.ui.testcampaigneditor"
            name="GT TestCampaign Editor">
      </editor>
   </extension>
</plugin>
