<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.globaltester.core.doc.userGuide"
            composite="false"
            contentFile="cheatsheets/user/executeTestCases.xml"
            id="org.globaltester.testrunner.doc.cheatsheet.executeTestCases"
            name="Execute TestCases">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc/user/gettingstarted.xml">
      </toc>
      <toc
            file="toc/user/concepts.xml">
      </toc>
      <toc
            file="toc/user/reference.xml">
      </toc>
   </extension>

</plugin>
